
:root{
    --primary-color:#be185d;
    --dark-color:#6B7280;
    --light-color:#ffe6f2;
    --light-gray-color:#f7dce5;
}
body{
    width:100%;
    max-width: 600px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.navigation{
    height: 90px;
    border-bottom-left-radius: 1rem;
    background-color:  var(--primary-color);
    color:white;
    padding:10px 12px;
  
}
nav{
    display: block;
}
 .heading a{
    color:white;
    text-decoration: none;
}
.nav-brand{
    font-weight: bold;
} 
.non-bullet-list{
list-style: none;
display: inline;
padding: 0.5rem 1rem;
text-align: right;
}
 .list{
    text-align: right;
} 
 .link-active{
    font-weight: bold;
}
.link{

color: white;
text-decoration: none;
cursor: pointer;
font-family:'Poppins', sans-serif ;
}
.image-hero{
    width: 100%;
    max-width:600px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.header .header-sub-heading{
    text-align: center;
    color: var(--dark-color);
}
section{
    text-align: center;
    padding: 1rem 1rem;
}

.pink{
    background-color: var(--light-gray-color);
    
}

section h1{
    text-align: center;
    color: rgb(48, 52, 58);
}
.project-unordered-list{
    list-style: none;
}
.link-primary{
    background-color: #be185d;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:40px;
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.link-secondary{
    border: 1px solid #be185d;
    color:#be185d ;
    height:40px;
    width: 150px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-color: #be185d;
    height:150px;
    width:600px;
    max-width: 100%;
    border-top-right-radius: 2rem;
}
.footer-heading{
   padding:25px 0px 0px 0px;
    text-align: center;
    color: var(--lighter-color);
    font-weight: bold;
}
.list-footer{
    text-align: center;
    cursor: pointer;
}
.non-bullet-list i{
    color: var(--lighter-color);
    padding-right: 15px;
}
.rel{

}
.content-center{

}
