
:root{
    --primary-color:#be185d;
    --dark-color:#6B7280;
    --light-color:#ffe6f2;
    --light-gray-color:#f7dce5;
    --lighter-color:white;
    --hot-pink:#ff4c96;
    --dark-color:#1a0000;
}
body{
    width:100%;
    max-width: 600px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.alignment{
    text-align: center;
}
.content-center{
    
    position:absolute; 
    top: 0rem;
    left: 10rem;
}
.navigation{
    height: 90px;
    border-bottom-left-radius: 1rem;
    background-color:  var(--primary-color);
    color:var(--lighter-color);
    padding:10px 12px;
  
}
nav{
    display: block;
}
 
.nav-brand{
    font-weight: bold;
} 
.non-bullet-list{
list-style: none;
display: inline;
padding: 0.5rem 0.5rem;
text-align: right;
}
.heading a{
    color:white;
    text-decoration: none;
}
 .list{
    text-align: right;
} 
 .link-active{
    font-weight: bold;
    border:0.1rem solid var(--lighter-color);
    border-radius:0.5rem;
    padding :0.5rem 0.5rem;
}
.link{

    color: var(--lighter-color);
    text-decoration: none;
    cursor: pointer;
    font-family:'Poppins', sans-serif ;
    }


.rel{
    position:relative;
    
    text-align: center;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px var(--hot-pink);
    /* color: white; */
}

.browse{
    margin-left:1rem;
    margin-bottom:2rem;
    margin-top:2rem;
    padding:0.5rem 0.5rem;
    border-radius:0.5rem;
    font-size:1rem;
    font-weight: 700;
    text-decoration: none;
}
.project-note{
    margin-bottom: 1rem;
}
.btn-pink{
    background-color:var(--primary-color);
    color:white;
    border:0.1rem solid var(--primary-color);
}
.btn-white{
    background-color:var(--lighter-color);
    border:0.1rem solid var(--primary-color);
    color:var(--primary-color)
}
.project-date{
    font-weight:650;
    font-size:1rem;
}
.project-list-item{
    border-radius:1rem;
    margin-bottom: 1rem;
    
}
.project-description{
   padding-left:0.5rem;
   padding-bottom:1rem
}
.project-unordered-list{
    list-style:none;
    padding-right:1rem;
    padding-inline-start:1em;
    
}
.img-height{
    height:12rem;
}
.item-bg-white{
    border:0.2rem solid var(--primary-color);
}

.item-bg-pink{
    background-color:var(--light-gray-color);
    border:0.1rem solid var(--light-gray-color);

}
.image-hero{
    width: 100%;
     max-width:600px; 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.header .header-sub-heading{
    text-align: center;
    color: var(--dark-color);
}
section{
    text-align: center;
    padding: 1rem 1rem;
}

.pink{
    background-color: var(--light-gray-color);
}

section h1{
    text-align: center;
    color: rgb(48, 52, 58);
}
.link-primary{
    background-color: #be185d;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:40px;
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.link-secondary{
    border: 1px solid #be185d;
    color:#be185d ;
    height:40px;
    width: 150px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-color: #be185d;
    height:150px;
    width:600px;
    max-width: 100%;
    border-top-right-radius: 2rem;
}
.footer-heading{
   padding:25px 0px 0px 0px;
    text-align: center;
    color: var(--lighter-color);
    font-weight: bold;
}
.list-footer{
    text-align: center;
    cursor: pointer;
}
.non-bullet-list i{
    color: white;
    padding-right: 15px;
}
